## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [91]:
# Your code here
#for i range()
sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[31, 14, 88, 98, 59, 24, 69, 25, 35, 30, 56, 53, 12, 36, 26, 74, 15, 50, 39, 22, 11, 44, 17, 75, 46, 89, 95, 13, 23, 97, 52, 82, 10, 43, 55, 83, 1, 47, 54, 40, 67, 76, 60, 41, 93, 64, 45, 91, 19, 72, 87, 65, 20, 9, 66, 94, 4, 8, 92, 86, 80, 81, 77, 32, 27, 37, 99, 73, 48, 34, 79, 28, 68, 84, 7, 33, 57, 78, 63, 49]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [92]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [93]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[52, 9, 83, 10, 24, 21, 91, 13, 39, 88, 63, 11, 51, 2, 59, 21, 47, 20, 63, 8, 24, 41, 38, 22, 94, 8, 74, 58, 91, 9, 89, 68, 46, 61, 55, 31, 69, 59, 78, 45, 99, 84, 24, 38, 26, 73, 63, 76, 85, 6, 72, 89, 61, 87, 32, 47, 20, 75, 51, 31, 5, 74, 27, 95, 51, 64, 2, 46, 97, 58, 84, 99, 69, 73, 87, 8, 35, 31, 89, 28]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [120]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [128]:
# Your code here
set3 = set()
for number in set1:
    if number not in set2:
        set3.add(number)
print(set3)

{1, 4, 7, 12, 14, 15, 17, 19, 23, 25, 30, 33, 34, 36, 37, 40, 43, 44, 48, 49, 50, 53, 54, 56, 57, 60, 65, 66, 67, 77, 79, 80, 81, 82, 86, 92, 93, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [129]:
# Your code here
set4 = set()
for number in set2:
    if number not in set1:
        set4.add(number)
print(set4)

{2, 5, 38, 6, 51, 21, 85, 58, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [130]:
# Your code here
set5 = set()
for number in set1:
    if number in set2:
        set5.add(number)
print(set5)

{8, 9, 10, 11, 13, 20, 22, 24, 26, 27, 28, 31, 32, 35, 39, 41, 45, 46, 47, 52, 55, 59, 63, 64, 68, 69, 72, 73, 74, 75, 76, 78, 83, 84, 87, 88, 89, 91, 94, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1): 80 valores unicos, muestra sin replacement
* len(set2): 80 valores no unicos, muestra con replacement
* len(set3): in set1 but not in set2
* len(set4): in set2 but not in set1
* len(set5): in set1 and set2

Use a math formular to represent that relationship. Test your formular with Python code.

#### Respuesta
**Tenemos un conjunto set1 y un conjunto set2. El conjunto set1 contiene a su vez a set3 y set5, y el conjunto set2 contiene a su vez al conjunto set4 y set5. Por lo que set1 y set2 comparten el set5, y tienen en exclusiva el set3 y set 4 respectivamente.**

In [131]:
# Your code here
print((len(set5) + len(set3)) == len(set1) )
print((len(set5) + len(set4)) == len(set2))
print((len(set3) + len(set4)) == (len(set1) + len(set2) - 2*len(set5)))

True
True
True

#### Create an empty set called `set6`.

In [132]:
# Your code here
set6 = set()
type (set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [133]:
# Your code here
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [134]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [137]:
# Your code here
#set 1 no deberia contener a set 2 pero si a set3, con lo cual respuesta ok
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [139]:
# Your code here
set1.union(set2) == (set3.union(set4)).union(set5)

True

#### Using the `pop` method, remove the first element from `set1`.

In [140]:
# Your code here
set1pop = set1.pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [145]:
# Your code here
set1copy = set1.copy()
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for element in set1copy:
    if element in list_to_remove:
        set1.remove(element)