# Advanced Querying Mongo

Importing libraries and setting up connection

In [4]:
from pymongo import MongoClient
client = MongoClient()
db = client.get_database("companies")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [17]:
# Your Code
babelgum = list(db.companies.find({"name":"Babelgum"}))
print(f"Number of matches = {len(babelgum)}")
babelgum[0]['name']

Number of matches = 1

'Babelgum'

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [38]:
# Your Code
filter_q = {"number_of_employees":{"$gt":5000}  }   
sort_q =   [("number_of_employees",1)]


em = list(db.companies.find(filter_q).sort(sort_q).limit(20))

# 20 primeras empresas con m√°s de 5000 empleados ordenadas
[em[i]['name'] for i in range(len(em))]

['Nintendo',
 'Hexaware Technologies',
 'Facebook',
 'OpenText',
 'CPM Braxis',
 'LSI',
 'Microchip Technologies',
 'Mediaset',
 'Mindray Medical International',
 'Dentsu',
 'Atmel',
 'Tata Communications',
 'Baidu',
 'Acxiom',
 'Acxiom',
 'SRA International',
 "Moody's",
 'ManTech',
 'Adobe Systems',
 'Broadcom']

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [40]:
filter_q = {"founded_year":{"$gte":2000, "$lte":2005}  
           }   

project_q = {"name":1,
             "founded_year" :1
            }


res = list(db.companies.find(filter_q,project_q))
# el len coincide con compass
print(len(res))
# 10 primeras
[res[i] for i in range(10)]

3734

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'),
  'name': 'Omnidrive',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d95'),
  'name': 'StumbleUpon',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297d96'),
  'name': 'Gizmoz',
  'founded_year': 2003},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9a'),
  'name': 'Helio',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297da1'),
  'name': 'Plaxo',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297da5'),
  'name': 'Technorati',
  'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [43]:
filter_q = { "ipo.valuation_amount":{"$gt":100000000}, "founded_year": {"$lt":2010}   } 

project_q = {"name":1, "ipo":1}


res = list(db.companies.find(filter_q,project_q))

# el len coincide con compass
print(len(res))

# 3 primeras
[res[i] for i in range(3)]

42

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d94'),
  'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297de0'),
  'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [56]:
filter_q = { "number_of_employees":{"$lt":1000}, "founded_year": {"$lt":2005}   } 



sort_q =   [("number_of_employees",1)]

res = list(db.companies.find(filter_q).sort(sort_q).limit(10))

# el len coincide con compass
print(len(res))

# Te imprimo los nombres de las empresas para que no te aparezca el tochaco infernal
[res[i]['name'] for i in range(10)]
#res[0]

10

['Skype',
 'Simpy',
 'Eurekster',
 'Ticketmaster',
 'Fox Interactive Media',
 'stylediary',
 'Monster',
 'EditGrid',
 'Compete',
 'MindTouch']

### 6. All the companies that don't include the `partners` field.

In [63]:
filter_q = { "partners": { "$exists": False} } 



res = list(db.companies.find(filter_q))

# el len coincide con compass
print(len(res))

# Existe en todas

0

### 7. All the companies that have a null type of value on the `category_code` field.

In [67]:
filter_q = { "category_code": { "$type": 'null'} } 



res = list(db.companies.find(filter_q))

# el len coincide con compass
print(len(res))

# 10 primeras
[res[i]['name'] for i in range(10)]
#res[0]

2751

['Collective',
 'Snimmer',
 'KoolIM',
 'Level9 Media',
 'VidKing',
 'Drigg',
 'SpaceTime',
 'Touch Clarity',
 'MMDAYS',
 'Inside Group']

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [69]:
filter_q = {"number_of_employees":{"$gte":100, "$lt":1000}  
           }   

project_q = {"name":1,
             "number_of_employees" :1
            }


res = list(db.companies.find(filter_q,project_q))

print(len(res))
# 10 primeras
[res[i] for i in range(10)]

917

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'),
  'name': 'AdventNet',
  'number_of_employees': 600},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'),
  'name': 'AddThis',
  'number_of_employees': 120},
 {'_id': ObjectId('52cdef7c4bab8bd675297da8'),
  'name': 'OpenX',
  'number_of_employees': 305},
 {'_id': ObjectId('52cdef7c4bab8bd675297db5'),
  'name': 'LifeLock',
  'number_of_employees': 644},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbb'),
  'name': 'Jajah',
  'number_of_employees': 110},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc0'),
  'name': 'Livestream',
  'number_of_employees': 120},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc1'),
  'name': 'Ustream',
  'number_of_employees': 250},
 {'_id': ObjectId('52cdef7c4bab8bd675297dda'),
  'name': 'iContact',
  'number_of_employees': 300},
 {'_id': ObjectId('52cdef7c4bab8bd675297de0'),
  'name': 'Yelp',
  'number_of_employees': 800},
 {'_id': ObjectId('52cdef7c4bab8bd675297dee'),
  'name': 'Dailymotion',
  'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [70]:
filter_q = {} 

sort_q =   [("ipo",-1)]

res = list(db.companies.find(filter_q).sort(sort_q))

# el len coincide con compass
print(len(res))

# Te imprimo las 10 primeras
[res[i]['name'] for i in range(10)]
#res[0]

18801

['GREE',
 'Facebook',
 'Amazon',
 'Twitter',
 'Groupon',
 'Tencent',
 'Western Digital',
 'LinkedIn',
 'BMC Software',
 'Rackspace']

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [81]:
filter_q = {} 


sort_q =   [("number_of_employees",-1)]


res = list(db.companies.find(filter_q).sort(sort_q))

# el len coincide con compass
print(len(res))


companies = [res[i]['name'] for i in range(10)]
companies

18801

['Siemens',
 'IBM',
 'Toyota',
 'PayPal',
 'Nippon Telegraph and Telephone Corporation',
 'Samsung Electronics',
 'Accenture',
 'Tata Consultancy Services',
 'Flextronics International',
 'Safeway']

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [87]:
# Second semester: de julio a diciembre
filter_q = {"founded_month":{"$gte":7}  } 


res = list(db.companies.find(filter_q).limit(1000))

# el len coincide con compass
print(len(res))

# Te imprimo las 10 primeras
companies = [res[i]['name'] for i in range(10)]
companies
#res[0]

1000

['Wetpaint',
 'Zoho',
 'Digg',
 'Omnidrive',
 'eBay',
 'Joost',
 'Plaxo',
 'Powerset',
 'Kyte',
 'Thoof']

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [88]:
filter_q = { "founded_year":{"$lt":2000}, "acquisition.price_amount": {"$gt":10000000}   } 


res = list(db.companies.find(filter_q))

# el len coincide con compass
print(len(res))

# 10 primeras
companies = [res[i]['name'] for i in range(10)]
companies
#res[0]

205

['Postini',
 'SideStep',
 'Recipezaar',
 'PayPal',
 'Snapfish',
 'Neopets',
 'Sun Microsystems',
 'Zappos',
 'Alibaba',
 'Sabre']

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [92]:
filter_q = { "acquisition.acquired_year":{"$gt":2010}} 

project_q = {"name":1, "acquisition":1} 

sort_q = [("acquisition.price_amount",1)]

res = list(db.companies.find(filter_q,project_q).sort(sort_q))


# el len coincide con compass
print(len(res))

# 3 primeras
companies = [res[i] for i in range(3)]
companies
#res[0]

736

[{'_id': ObjectId('52cdef7c4bab8bd675297d91'),
  'name': 'Geni',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dab'),
  'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbf'),
  'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [96]:
filter_q = {} 
project_q = {"name":1, "founded_year":1} 

sort_q = [("founded_year",-1)]

res = list(db.companies.find(filter_q,project_q).sort(sort_q))


# el len coincide con compass
print(len(res))

# 5 primeras
companies = [res[i] for i in range(5)]
companies
#res[0]

18801

[{'_id': ObjectId('52cdef7c4bab8bd675297fec'),
  'name': 'Fixya',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7c4bab8bd67529801f'),
  'name': 'Wamba',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7c4bab8bd6752982d4'),
  'name': 'Advaliant',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7c4bab8bd67529830a'),
  'name': 'Fluc',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7d4bab8bd675298ea7'),
  'name': 'iBazar',
  'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code